{% load static %}
<!doctype html>
<html><head>
    <meta charset="utf-8">
    <title>De Luxe S.A.C</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
    <link rel="icon" type="image/jpg" href="{% static 'images/deluxe.jpg' %}">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-style.css' %}" rel="stylesheet">
    <link href="{% static 'css/register.css' %}" rel="stylesheet">

	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
   
   <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  	<!-- Google Fonts call. Font Used Open Sans & Raleway -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
  	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
	</head>
  <body>

  	<!-- NAVIGATION MENU -->

    <div class="navbar-nav navbar-inverse navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/deluxe.jpg' %}" alt=""height="15"> DeLuxe S.A.C</a>
        </div>
          <div class="navbar-collapse collapse">
            
          </div><!--/.nav-collapse -->
        </div>
    </div>
<style>
div.col-sm-6 col-lg-6{
  text-align: center;
}
</style>
    <div class="container">
        <div class="row">

        	<div class="col-lg-offset-3 col-lg-6" style="text-align: center;">
        		<div id="register-wraper">
        		    <form id="register-form" class="form" method="post" action="">
        		        <legend>Registro de Asistencia</legend>
                        {% csrf_token %}
        		    
        		        <div class="body">
        		        	<!-- first name -->
                    {% if request.user.empleado %}
                    <label for="id_Empleado">Empleado:</label>
                    {{ form.Empleado }}
    		        		
                    <label for="id_Cargo">Cargo:</label>
                    {{ form.Cargo }} 

                    <br>
                    <label for="id_fecha">Fecha:</label>
                    {{ form.fecha }}
                    <label for="id_horaentrada">Hora de Entrada:</label>
                    {{ form.horaentrada }}
                    <label for="id_horasalida">Hora de Salida:</label>
                    {{ form.horasalida }}
                    <label for="id_estado">Estado:</label>
                    <select required id="id_estado" name="estado" class="form-control">
                    <option value selected>Seleccione Estado</option>
                    <option value="3">Por revisar</option>
                    </select>
                    
                    

        		        {% endif %}
        		        </div>

                    
                    <br>
        		        <div class="footer">

        		            <button type="submit" class="btn btn-success">Guardar Asistencia</button>
        		        </div><br>
                    {% for message in messages %}
                        <style>
                       .alertbotonverde {
  padding: 20px;
  background-color: #379634;
  color: white;
}

.closebtnverde {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtnverde:hover {
  color: black;
}
                        </style>
                        <div class="alertbotonverde">
                        <span class="closebtnverde"
                              onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                    </div>

                    {% endfor %}


                        {% if form.errors %}
<style>
.alertboton {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>
                    <div class="alertboton">
                        <span class="closebtn"
                              onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ form.errors }}
                    </div>
                        {% endif %}
        		    </form>


        		</div>

        	</div>

        </div>
    </div>

	<div id="footerwrap">
      	<footer class="clearfix"></footer>
      	<div class="container">
      		<div class="row">
      			<div class="col-sm-12 col-lg-12">
      			<p><img src="{% static 'images/logo.png' %}" alt=""></p>
      			<p>Empresa de Transportes De Luxe S.A.C - Copyright 2021</p>
      			</div>

      		</div><!-- /row -->
      	</div><!-- /container -->
	</div><!-- /footerwrap -->
     <script>
    $(function () {
        $("#id_fecha").datepicker({
          format: 'YYYY-mm-dd',
        });
      });
  </script>
   <script>
    $(function () {
      $("#id_horaentrada").clockpicker({
          language: 'es',
          autoclose:true,
          format: 'HH:mm'
      });
    });
  </script>
  <script>
    $(function () {
      $("#id_horasalida").clockpicker({
          language: 'es',
          autoclose:true,
          format: 'HH:mm'
      });
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/jquery-clockpicker.min.js" integrity="sha512-x0qixPCOQbS3xAQw8BL9qjhAh185N7JSw39hzE/ff71BXg7P1fkynTqcLYMlNmwRDtgdoYgURIvos+NJ6g0rNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.css" integrity="sha512-BB0bszal4NXOgRP9MYCyVA0NNK2k1Rhr+8klY17rj4OhwTmqdPUQibKUDeHesYtXl7Ma2+tqC6c7FzYuHhw94g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   </body></html>
